<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Connexion</title>
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}
</head>
<body>
    <header class="bg-dark">
        <p class="text-white display-1 text-center fw-bold">SANGRAVAH</p>
    </header>
    <section class="container mt-5">
        <div class="row">
            <div class="col-lg-4 col-sm-8 col-10 mx-auto border shadow rounded p-0">
                <form method="post">
                    {% if error %}
                        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                    {% endif %}

                    {% if app.user %}
                        <div class="mb-3">
                            Connecter en tant que {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">deconnexion</a>
                        </div>
                    {% endif %}

                    <p class="h3 mb-3 font-weight-normal text-center bg-dark mx-0 text-white rounded-top">Connectez vous</p>
                    <div class="p-3">
                        <label for="inputUsername">Username</label>
                        <input type="text" value="{{ last_username }}" name="username" id="inputUsername" class="form-control" autocomplete="username" required autofocus>
                        <label for="inputPassword">Password</label>
                        <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>

                        <input type="hidden" name="_csrf_token"
                            value="{{ csrf_token('authenticate') }}"
                        >

                        {#
                            Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
                            See https://symfony.com/doc/current/security/remember_me.html

                            <div class="checkbox mb-3">
                                <label>
                                    <input type="checkbox" name="_remember_me"> Remember me
                                </label>
                            </div>
                        #}

                        <button class="btn btn-lg btn-primary my-2" type="submit">
                            Connexion
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </section>
    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
    {% endblock %}
</body>
</html>
