{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}



{% block body %}
<style>
    .input{
        max-width: 5rem;
    } 
</style>
<section class="py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="row gx-4 gx-lg-5 align-items-center">
            <div class="col-md-6"><img class="card-img-top mb-5 mb-md-0" src={{ asset('images/faker/faker600x700.png') }} alt="..." /></div>
            <div class="col-md-6">
                <h1 class="display-5 fw-bolder">{{produit.designation}}</h1>
                <div class="fs-5 mb-5">
                    <span>{{produit.prix}} FCFA</span>
                </div>
                <p class="lead">{{produit.description}}</p>
                
                    {{form_start(form)}}
                    <div class="d-flex">
                    {{form_widget(form, {'attr': {'class': 'text-center me-3 input'} })}}
                        <button class="btn b btn-outline-success">Ajouter au panier</button>
                    </div>
                    {{form_end(form)}}
                
            </div>
        </div>
    </div>
</section>
{#}
<section class="py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="row gx-4 gx-lg-5 align-items-center">
            <div class="col-md-6"><img class="card-img-top mb-5 mb-md-0" src={{ asset('images/faker/faker600x700.png') }} alt="..." /></div>
            <div class="col-md-6">
                <h1 class="display-5 fw-bolder">{{produit.designation}}</h1>
                <div class="fs-5 mb-5">
                    <span>{{produit.prix}} FCFA</span>
                </div>
                <p class="lead">{{produit.description}}</p>
                <div class="d-flex">
                    {{form_start(form)}}
                    {{form_widget(form)}}
                        <button class="btn btn-outline-success">Ajouter au panier</button>
                    {{form_end(form)}}
                    <!--input class="form-control text-center me-3" id="inputQuantity" type="num" value="1" style="max-width: 3rem" />
                    <a class="btn btn-outline-dark flex-shrink-0" href=>
                        <i class="bi-cart-fill me-1"></i>
                        Ajouter au panier
                    </a-->
                </div>
            </div>
        </div>
    </div>
</section>
{#}
{% endblock %}