{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}



{% block body %}
<style>
    .input{
        max-width: 5rem;
    } 
</style>
<section class="py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="row gx-4 gx-lg-5 align-items-center">
            <div class="col-md-6"><img class="card-img-top mb-5 mb-md-0" src={{ asset('images/faker/faker600x700.png') }} alt="..." /></div>
            <div class="col-md-6">
                {% if app.user %}
                    <a href="{{path("update_produit",{'id':produit.id})}}" class="btn btn-primary">Modifier</a>
                {% endif %}
                <h1 class="display-5 fw-bolder">{{produit.designation}}</h1>
                <div class="fs-5 mb-5">
                    <span>{{produit.prix}} FCFA</span>
                </div>
                <p class="lead">{{produit.description}}</p>
                
                    {{form_start(form)}}
                    <div class="d-flex">
                    {{form_widget(form, {'attr': {'class': 'text-center me-3 input'} })}}
                        <button class="btn b btn-outline-success">Ajouter au panier</button>
                    </div>
                    {{form_end(form)}}
                
            </div>
        </div>
    </div>
</section>
{% endblock %}