{% extends 'base.html.twig' %}

{% block title %}Produit{% endblock %}

{% block body %}
<section class="container mt-5">
    <div class="row">
        <div class="col-lg-8 mx-auto mt-5">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>N°</th>
                        <th>REFERENCE</th>
                        <th>NOM</th>
                        <th>DESCRIPTION</th>
                        <th>PRIX</th>
                        <th>STOCK</th>
                        <th>CATEGORIE</th>  
                        <th></th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% for produit in produits %}
                        <tr>
                            <td>{{produit.id}}</td>
                            <td>{{produit.reference}}</td>
                            <td>{{produit.designation}}</td>
                            <td>{{produit.description}}</td>
                            <td>{{produit.prix}}</td>
                            <td>{{produit.quantite}}</td>
                            <td>{{produit.categorie.libelle}}</td>
                            <td><a href={{path("details",{'id':produit.id})}} class="btn btn-outline-dark">details</a></td>
                            <td><a href={{path("update_produit",{'id':produit.id})}} class="btn btn-outline-success">Modifier</a></td>
                            <td><a href={{path("delete_produit",{'id':produit.id})}} class="btn btn-outline-danger">Supprimer</a></td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</section>
{% endblock %}
