{% extends 'base.html.twig' %}

{% block title %}Détails commande{% endblock %}
{% block body %}
<section class="container mt-5 pt-5">
    <div class="row mt-4">  
        <div class="col-lg-7 col-md-8 col-10 mx-auto border-3 m-4  p-0 my-1 card mb-5">
            <div class="card-header text-center bg-dark text-light">
                <span class="h3">
                    Details commande N° {{commande.id}}
                </span>
            </div>
            <div class="card-body p-0">
                    {% for item in commande.items %}
                        <div class="border mb-2">
                            <p class="px-4 py-2">
                                {{item.produit.designation}} </br>
                                Prix unitaire : {{item.produit.prix}} FCFA </br>
                                Quantite : {{item.quantite}} </br>
                            </p>
                        </div>
                    {% endfor %}    
            </div>
            <div class="card-footer">
                <a href="{{path("cloturer",{'id': commande.id})}}" class="btn btn-success">Cloturer</a>
                <a href="{{path("annuler",{'id': commande.id})}}" class="btn btn-danger">Annuler</a>
            </div>    
        </div>
    </div>
</section>
{% endblock %}